@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 50px;
    width: 60%;
    height: 550px;
    position: relative;
    left: 20%;
}
.submit{
    width: 80%;
    background-color: orange;
}
.vl{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  left: 53%;
  top: 30px;
  transform: translate(-50%);
  width: 175px;
}
.vl-innertext {
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    /* border: 0.4px solid #ccc; */
    border-radius: 50%;
    padding: 8px 10px;
  }
.vl span{
    font-size: 16px;
    color: orange;
    font-weight: 700;
}
.vl div{
    width: 255px;
    height: 1px;
    background-color: black;
}
.vl .line1{
   position: relative; 
   left: -22%;
}
.question{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 93%;
    right: 37%;
}
.question h6{
    color:rgb(16, 149, 231);
    font-size: 13px;
    
}
.question a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}